<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <title>Face Aging Webapp</title>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <style>
      .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
      }

      @media (min-width: 768px) {
          .bd-placeholder-img-lg {
              font-size: 3.5rem;
          }
      }
  </style>
  <link href="{{ url_for('static', filename='css/cover.css') }}" rel="stylesheet">
</head>
<body class="d-flex text-center text-white bg-dark">
<div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <main class="px-3">
    {% block content %}{% endblock %}
  </main>
  {% include "footer.html" %}
</div>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
{% block javascript %}{% endblock %}
</body>
</html>
