{% extends "basis.html" %}
{% block content %}
<h1>Veuillez attendre que la transformation soit réalisée !</h1>
<p>Note : cela peut prendre jusqu'à 20 secondes.</p>
<div class="d-flex justify-content-center">
  <img src="{{ url_for('show_file', filename=filename) }}" height="512px">
</div>
<div class="spinner-grow text-primary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-secondary" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-success" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-danger" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-warning" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-info" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-light" role="status">
  <span class="sr-only"></span>
</div>
<div class="spinner-grow text-dark" role="status">
  <span class="sr-only"></span>
</div>
{% endblock %}
{% block javascript %}
<script>
    window.addEventListener('load', function () {
        const url = window.location.origin.concat('{{ url_for("wait", filename=filename, age=age)|safe }}');
        window.location.href = url;
    })
</script>
{% endblock %}
